@inherits LayoutComponentBase

<style>
    #main-page{
        margin:0;
        padding:0;
    }
</style>


<div dir="rtl" id="main-page" class="container-fluid page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="row">
        <article class="content px-4">
            @Body
        </article>
        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </div>
</div>
