@inherits LayoutComponentBase

<div class="wrapper">
    <div class="main-panel">
        <!-- Sidebar -->
        <Sidebar />
        <!-- End Sidebar -->
        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->
        <div class="content">
            @Body
        </div>

    </div>
</div>

<div class="fixed-plugin fixed-plugin-tk">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-primary active" data-color="primary"></span>
                        <span class="badge filter badge-info" data-color="blue"></span>
                        <span class="badge filter badge-success" data-color="green"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line text-center color-change d-flex flex-row justify-content-center">
                <span class="mx-1">
                    <span class="color-label">روشن</span>
                    <span class="badge light-badge mr-2"></span>
                </span>
                <span class="mx-1">
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">تاریک</span>
                </span>
            </li>
        </ul>
    </div>
</div>

