@page "/"

<PageTitle>Home</PageTitle>

<div class="alert alert-primary">Home</div>
@* <div class="Container d-flex flex-row flex-warp justify-content-center  ">
    <div class="alert alert-primary">
        Home
    </div>
    <div class="alert alert-primary">
        <a href="/swagger" class="w-100 h-100 my-3 p-5">Swagger</a>
    </div>
</div> *@
