@page "/"

<PageTitle>Home</PageTitle>

<div class="Container d-flex flex-column justify-content-center ">
    <div class="btn btn-primary my-3 p-5">Header</div>
    <div class="btn btn-primary my-3 p-5">Navbar</div>
    <div class="btn btn-primary my-3 p-5">Section</div>
    <div class="btn btn-primary my-3 p-5">Footer</div>
</div>
