@page "/"

<PageTitle>Home</PageTitle>

<div class="container d-flex flex-column">
    <div class="alert alert-primary">Home</div>
    <div class="alert alert-primary">
        <a href="/swagger" class="w-100 h-100 my-3 p-5 text-dark">Swagger</a>
    </div>
</div>
