
<div class="container">
    <div class="alert alert-danger border-danger shadow rounded">شما به صفحه مورد نظر دسترسی ندارید ...</div>
    <div class="display-4 mt-5">خطای 403</div>
    <button class="btn btn-danger shadow rounded-2">برگشت به صفحه قبل</button>
</div>

@code {

}
