@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container text-center">
    <h3 class="display-6 shadow rounded-3 p-2 m-2 bg-dark bg-gradient text-light">سامانه میزکار یکپارچه</h3>
    <p class="bg-light bg-gradient shadow rounded-3 p-2 m-2">به تست تاجرباشی خوش آمدید</p>
    <div class="row">
        <div class="col-4 p-2 d-flex flex-row  flex-wrap">
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-primary bg-gradient text-light">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-light bg-gradient">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-light bg-gradient">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-primary bg-gradient text-light">افراد آنلاین</div>
        </div>
        <div class="col-4 p-2 d-flex flex-column justify-content-around">
            <div style="height:100px;" class="p-1 my-3 rounded shadow bg-dark bg-gradient text-light">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 my-3 rounded shadow bg-dark bg-gradient text-light">افراد آنلاین</div>
        </div>
        <div class="col-4 p-2 d-flex flex-row  flex-wrap">
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-light bg-gradient">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-warning bg-gradient text-light">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-warning bg-gradient text-light">افراد آنلاین</div>
            <div style="height:100px;" class="p-1 w-50 rounded shadow bg-light bg-gradient">افراد آنلاین</div>
        </div>

    </div>
    <div class="row d-flex flex-row justify-content-around">
        <div class="col-6 p-2">
            <div style="height:150px;" class="shadow p-1 m-1 rounded alert alert-danger border-danger">افراد آنلاین</div>
        </div>
        <div class="col-6 p-2">
            <div style="height:150px;" class="shadow p-1 m-1 rounded alert alert-danger border-danger">افراد آنلاین</div>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-around">
        <div class="col-6 p-2 d-flex flex-column justify-content-around">
            <div class="p-1 py-3 m-1 shadow rounded alert alert-success border-success">افراد آنلاین</div>
            <div class="p-1 py-3 m-1 shadow rounded alert alert-success border-success">افراد آنلاین</div>
        </div>
        <div class="col-6 p-2 d-flex flex-column justify-content-around">
            <div class="p-1 py-3 m-1 shadow rounded alert alert-success border-success">افراد آنلاین</div>
            <div class="p-1 py-3 m-1 shadow rounded alert alert-success border-success">افراد آنلاین</div>
        </div>
    </div>

</div>

