.vs
Blazor_Domain_Library/bin
Blazor_Domain_Library/obj
Blazor_Domain_Library_Test/bin
Blazor_Domain_Library_Test/obj

Blazor_Application_Library/bin
Blazor_Application_Library/obj
Blazor_Application_Library_Test/bin
Blazor_Application_Library_Test/obj

Blazor_Infrastructure_Library/bin
Blazor_Infrastructure_Library/obj
Blazor_Infrastructure_Library_Test/bin
Blazor_Infrastructure_Library_Test/obj

Blazor_Persistance_Library/bin
Blazor_Persistance_Library/obj
Blazor_Persistance_Library_Test/bin
Blazor_Persistance_Library_Test/obj

/Blazor_WebApi/Blazor_WebApi/bin
/Blazor_WebApi/Blazor_WebApi/obj

/Blazor_WebApi/Blazor_WebApi.Client/bin
/Blazor_WebApi/Blazor_WebApi.Client/obj