@page "/"

<PageTitle>داشبورد</PageTitle>

<div class="container-fluid p-5 text-center">
    <div class="row my-3 d-flex justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 my-2">
            <div class="h100 text-center bg-dark bg-gradient text-light rounded-3 p-3">
                1
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-6 col-xl-3 my-2">
            <div class="h100 text-center bg-dark bg-gradient text-light rounded-3 p-3">
                2
            </div>
        </div>
        <div class=" col-sm-12 col-md-4 col-lg-6 col-xl-3 my-2">
            <div class="h100 text-center bg-dark bg-gradient text-light rounded-3 p-3">
                3
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><div class="h200 text-center bg-dark bg-gradient text-light rounded-3 p-3">1</div></div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"><div class="h200 text-center bg-dark bg-gradient text-light rounded-3 p-3">1</div></div>
    </div>
    <div class="row my-3">
        <div class="col-12"><div class="text-center bg-dark bg-gradient h300 text-light rounded-3 p-3">1</div></div>
    </div>
    <SurveyPrompt Title="به داشبورد سیستم مدیریت محتوا خوش آمدید" />
</div>

