<div class="modal @ModalClass"
     tabindex="-1" role="dialog"
     style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                <p>@Content</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-success">
                    تایید
                </button>
                <button type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                        @onclick="() => Close()">
                    بستن
                </button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Content { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}