
<div class="modal rounded">
    <div class="d-flex flex-row justify-content-between p-1 bg-dark bg-gradient rounded">
        <span>Title</span>
        <span>X</span>
    </div>
    <div>@ChildContent</div>
    <div class="d-flex flex-row justify-content-arround p-1 bg-dark bg-gradient rounded">
        <button class="btn btn-success">ذخیره</button>
        <button class="btn btn-danger">بستن</button>
    </div>
</div>
@code {
    public bool Show { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


}
