@page "/profile"
@layout IdentityLayout
@* @page "/Identity/Login" *@
<PageTitle>ورود کاربر</PageTitle>


<TKCard>
    <div class="container-fluid rounded-5 d-flex p-3 h-100">
        <div class="col-3 h-100">
            <div class="bg-dark bg-gradient h-100">
                <img height="150px" src="#" alt="تصویر" />
                <ul>
                    <li>Item 1</li>
                    <li>Item 1</li>
                    <li>Item 1</li>
                    <li>Item 1</li>
                    <li>Item 1</li>
                    <li>Item 1</li>
                </ul>
            </div>
        </div>
        <div class="col-9 h-100">
            <div class="bg-primary bg-gradient text-center h-100">
                Data
            </div>
        </div>
    </div>
</TKCard>
