@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container p-5 rounded-5 shadow">
    <div class="row d-flex flex-row justify-content-around p-4 m-2 shadow">
       <div class="col-12">
            <a class="btn btn-primary rounded shadow m-1" asp-page-handler="Afghanistan">Afghanistan</a>
            <a class="btn btn-primary rounded shadow m-1" asp-page-handler="Iran">Iran</a>
            <a class="btn btn-primary rounded shadow m-1" asp-page="Privacy">None</a>
       </div>
    </div>
    @if (Model.Type.Equals("Iran"))
    {
        <div class="alert alert-danger shadow p-3 rounded">اطلاعات کشور ایران</div>
    }
    else if (Model.Type.Equals("Afghanistan"))
    {
        <div class="alert alert-danger shadow p-3 rounded">اطلاعات کشور افغانستان</div>
    }
    else
    {
        <div class="alert alert-danger shadow p-3 rounded">ناشناخته</div>
    }
</div>
