@using Blazor_Application_Library.Repositories.Security
@inherits LayoutComponentBase
@inject IUserService service
@inject NavigationManager navigate
<PageTitle>سیستم مدیریت اطلاعات</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-dark shadow" href="/Security/Profile">حساب کاربری</a>
                    <a class="btn btn-info shadow" href="/Security/Notification">اعلانات</a>
                    <button class="btn btn-danger shadow" @onclick="LogOut">خروج</button>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-primary shadow" href="/Security/Login">ورود</a>
                    <a class="btn btn-success shadow" href="/Security/SignUp">ثبت نام</a>
                </NotAuthorized>
            </AuthorizeView>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    public void LogOut()
    {
        service.LogOut();
        navigate.NavigateTo("/Security/Profile");
    }
}