@inherits LayoutComponentBase

<PageTitle>404 Not Found</PageTitle>
<style>
    #container {
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: space-between;
        flex-wrap: nowrap;
    }

        #container > div {
            border-radius: 1rem;
            padding: 4rem;
        }
</style>

<div id="container">
    <div class="container shadow">
        @Body
    </div>
</div>