@page
@model SSO.Pages.WebLogs.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BlogDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlogDTO.Title" class="control-label"></label>
                <input asp-for="BlogDTO.Title" class="form-control" />
                <span asp-validation-for="BlogDTO.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDTO.Description" class="control-label"></label>
                <input asp-for="BlogDTO.Description" class="form-control" />
                <span asp-validation-for="BlogDTO.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDTO.Body" class="control-label"></label>
                <input asp-for="BlogDTO.Body" class="form-control" />
                <span asp-validation-for="BlogDTO.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDTO.Like" class="control-label"></label>
                <input asp-for="BlogDTO.Like" class="form-control" />
                <span asp-validation-for="BlogDTO.Like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDTO.Share" class="control-label"></label>
                <input asp-for="BlogDTO.Share" class="form-control" />
                <span asp-validation-for="BlogDTO.Share" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDTO.UserId" class="control-label"></label>
                <select asp-for="BlogDTO.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="BlogDTO.UserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BlogDTO.Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BlogDTO.IsActive" /> @Html.DisplayNameFor(model => model.BlogDTO.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BlogDTO.IsDeleted" /> @Html.DisplayNameFor(model => model.BlogDTO.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
