@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="profile" class="btn btn-dark rounded-3 btn-outline-light border-0 mx-3 text-decoration-none">
                @UserName
            </NavLink>
            <button class="@Style rounded-3 btn-outline-light border-0" @onclick="Switch">@Name</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    <a class="reload" href="">تازه سازی</a>
    <a class="" href="">خطای اجرای صفحه</a>
    <a class="dismiss" href="">🗙</a>
</div>

@code {
    string Name = "ورود";
    string UserName = "مهمان";
    string Style = "btn btn-primary";
    bool State = true;

    private void Switch()
    {
        if (State)
        {
            Name = "خروج";
            UserName = "کامران تاجرباشی";
            Style = "btn btn-danger";
            State = false;
        }
        else
        {
            Name = "ورود";
            UserName = "مهمان";
            Style = "btn btn-primary";
            State = true;
        }
    }
}