@page "/Security/ConfirmationEmail"
@using Blazor_Application_Library.Models.Security
@inject NavigationManager NavigationManager
@layout PublicLayout
<PageTitle>تایید پیامک</PageTitle>


<div class="container">
    <div class="row d-flex flex-wrap align-content-center justify-content-center">
        <div class="col-10">
            <div class="alert alert-primary border-primary shadow rounded-5 text-center m-3 h4">
                به صفحه تایید ایمیل خوش آمدید
            </div>
        </div>
        @if (confirmation)
        {
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
                <div class="card gradient-custom text-white">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-1">
                            <div class="form-outline form-white mb-2 text-center alert alert-success border-success p-2 ">
                                ایمیل شما تایید شده است
                            </div>

                            <button @onclick="FormSubmitted" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">برو به صفحه ورود</button>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
                <EditForm Model=@Code OnSubmit=@FormSubmitted>
                    <div class="card gradient-custom text-white">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-1">
                                <div class="form-outline form-white mb-2 textRight">
                                    <label class="form-label h5" for="typeEmailX">کد را وارد کنید ...</label>
                                    <div class="d-flex flex-row justify-content-around align-items-center p-1 m-1">
                                        <InputText @bind-Value="Code.Digit1" class="form-control mx-1 text-center" />
                                        <InputText @bind-Value="Code.Digit2" class="form-control mx-1 text-center" />
                                        <InputText @bind-Value="Code.Digit3" class="form-control mx-1 text-center" />
                                        <InputText @bind-Value="Code.Digit4" class="form-control mx-1 text-center" />
                                        <InputText @bind-Value="Code.Digit5" class="form-control mx-1 text-center" />
                                    </div>
                                </div>

                                <button @onclick="FormSubmitted" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">بازیابی کد تایید</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    </div>
</div>




@code {
    CodeDTO Code = new CodeDTO();
    bool confirmation = false;
    void FormSubmitted()
    {
        if (!confirmation)
        {
            confirmation = true;
        }
        else
        {
            NavigationManager.NavigateTo("/Security/Login");

        }

    }
}