@page "/Security/Login"

@using Blazor_Application_Library.Helpers
@using Blazor_Application_Library.Models.Security
@using Blazor_Application_Library.Repositories.Security
@using Blazor_Domain_Library.Entities.Security
@using Microsoft.AspNetCore.Identity

<PageTitle>ورود کاربر</PageTitle>
@inject NavigationManager NavigationManager
@inject UserManager<UserEntity> UserManager
@inject SignInManager<UserEntity> SignInManager
@inject IUserService service;
@layout PublicLayout


<div class="container login-card">
    <div class="row d-flex flex-wrap align-content-center justify-content-center">
        <div class="col-10">
            <div class="alert alert-primary border-primary shadow rounded-5 text-center m-3 h4">
                به صفحه ورود سیستم مدیریت محتوا خوش آمدید
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
            <EditForm Model=@Model OnSubmit=@FormSubmitted>
                <div class="card gradient-custom text-white">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-1">
                            <div class="form-outline form-white mb-2 textRight">
                                <label class="form-label h5" for="typeEmailX">نام کاربری</label>
                                <InputText @bind-Value="Model.UserName" class="form-control " />
                            </div>

                            <div class="form-outline form-white mb-4 textRight">
                                <label class="form-label h5" for="typePasswordX">رمز کاربری</label>
                                <InputText type="password" @bind-Value="Model.Password" class="form-control " />
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div class="px-2">
                                    <InputCheckbox @bind-Value="Model.IsPersistence" />
                                    <label>مرا بخاطر بسپار</label>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/Security/ForgotPassword">رمز خود را فراموش کردم</a></p>
                            </div>

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">ورود</button>
                        </div>
                        <div>
                            <p class="mb-0">
                                <a href="/Security/SignUp" class="text-white-50 fw-bold">حساب جدید</a>
                            </p>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    LoginDTO Model = new LoginDTO();
    string Messages = null;

    void FormSubmitted()
    {
        // var result = service.Login(LoginDTO);
        var user = UserManager.FindByNameAsync(Model.UserName).Result;
        SignInManager.SignOutAsync();
        if (user is null)
        {
            Messages = ApplicationMessages.NotFoundData();
        }
        else
        {
            var result = SignInManager.PasswordSignInAsync(user,Model.Password,Model.IsPersistence,true).Result;
            if (result.Succeeded)
            {
                NavigationManager.NavigateTo("/Security/Profile");
            }
            else
            {
                Messages = ApplicationMessages.FaildLogin();
            }
        }
        
    }
}