@inherits LayoutComponentBase
<div class="page">
    <div id="sidebar" class="sidebar">
        <NavMenu />
    </div>
    <div id="main" class="">
        <main>
            <div class="top-row px-4">
                <Navbar Name="کامران تاجرباشی" />
                <a href="#" target="_blank">پروفایل</a>
                <a href="#" target="_blank">اعلان</a>
                <button class="@signStyle" @onclick="SignLog">@Text</button>
            </div>

            <article class="content p-4">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
    bool sw=true;
    string Text = "خروج";
    string signStyle = "btn btn-primary";
    private void SignLog()
    {
        if (sw)
        {
            Text = "خروج";
            signStyle = "btn btn-danger";
            sw = false;
        }
        else
        {
            Text = "ورود";
            signStyle = "btn btn-primary";
            sw = true;
        }
    }
}