@inherits LayoutComponentBase
<div class="page">
    <div id="sidebar" class="sidebar">
        <NavMenu />
    </div>
    <div id="main" class="">
        <main>
            <div class="top-row px-4">
                <NavLink href="/profile">
                    <Navbar Name="کامران تاجرباشی" RoleName="ادمین" />
                </NavLink>
                <NavLink href="@url">
                    <span class="bi bi-house-door-fill-nav-menu mx-1" aria-hidden="true"></span>
                    <button class="@signStyle" @onclick="SignLog">@Text</button>
                </NavLink>
            </div>

            <article class="content p-4">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
    bool sw=true;
    string Text = "ورود";
    string url = "/signin";
    string signStyle = "btn btn-primary";
    private void SignLog()
    {
        if (sw)
        {
            Text = "خروج"; 
            url = "/signin";
            signStyle = "btn btn-danger";
            sw = false;
        }
        else
        {
            Text = "ورود";
            url = "/login";
            signStyle = "btn btn-primary";
            sw = true;
        }
    }
}