@page
@model SSO.Pages.RoleManagement.PrivilegePageModel
@{
}
<div style="height:80vh; overflow:auto;" class=" container d-flex flex-column justify-content-between">
    <div class="row shadow">Row 1</div>
    <div class="row shadow">Row 2</div>
    <div class="row shadow text-center">
        <a asp-page="./AdminPanel" class="btn btn-dark text-light">مدیریت کابران</a>
    </div>
</div>