@page
@model SSO.Pages.RoleManagement.RoleManagementModel
@{
}

<div class="container">
    <div class="row">
        <div class="">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام کاربر</th>
                        <th>فامیلی کاربر</th>
                        <th>نام نقش</th>
                        <th>توضیحات نقش</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>