@page
@model SSO.Pages.Admin.SignUpModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var Title = "ثبت اطلاعات کاربر جدید";
    ViewData["Title"] = Title;
}

<hr />
<div class="container align-items-center pb-5">
    <div class="alert alert-primary border-dark text-center display-6 shadow rounded-5">به سامانه ورود یکپارچه خوش آمدید</div>
    <div class="row d-flex flex-row justify-content-center mt-5">
        <div class="col-md-8 col-sm-10 col-xl-6 col-lg-8 bg-light bg-gradient shadow p-5 rounded-3 ">
            <div class="alert alert-success border-success text-center">@Title</div>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.Name" class="form-label">نام</label>
                    <input asp-for="SignUpDTO.Name" class="form-control" />
                    <span asp-validation-for="SignUpDTO.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.Family" class="form-label">فامیلی</label>
                    <input asp-for="SignUpDTO.Family" class="form-control" />
                    <span asp-validation-for="SignUpDTO.Family" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.UserName" class="form-label">نام کاربری</label>
                    <input asp-for="SignUpDTO.UserName" class="form-control" />
                    <span asp-validation-for="SignUpDTO.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.Email" class="form-label">ایمیل</label>
                    <input asp-for="SignUpDTO.Email" class="form-control" />
                    <span asp-validation-for="SignUpDTO.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.Password" class="form-label">رمز</label>
                    <input asp-for="SignUpDTO.Password" class="form-control" />
                    <span asp-validation-for="SignUpDTO.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignUpDTO.ConfirmPassword" class="form-label">تکرار رمز</label>
                    <input asp-for="SignUpDTO.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="SignUpDTO.ConfirmPassword" class="text-danger"></span>
                </div>


                <div class="form-group text-center p-2 mt-4 d-flex flex-row justify-content-around">
                    <input type="submit"
                           value="ثبت نام"
                           class="btn btn-success w-25 shadow" />
                    <a class="btn btn-primary w-25 shadow"
                       asp-page="./Login">ورود</a>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
