@page "/"

<PageTitle>داشبورد</PageTitle>


<div class="container-fluid p-3">
    <div class="row d-flex flex-row justify-content-between p-3">
    </div>
    <div class="row d-flex flex-row justify-content-between p-3">
        <div class="col-5">
            <div class="bg-dark bg-gradient text-light p-4">
                داشبورد
            </div>
        </div>
        <div class="col-4">
            <div class=" bg-dark bg-gradient text-light p-4">
                پیام ها
            </div>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-between p-2">
        <div class="col-4 p-5">
            <div class="bg-primary bg-gradient p-5 rounded-3">
                داشبورد
            </div>
        </div>
        <div class="col-4 p-5">
            <div class=" bg-secondary bg-gradient p-5 rounded">
                پیام ها
            </div>
        </div>
    </div>
    <div class="row d-flex flex-row justify-content-between p-2">
        <div class="col-4 p-3">
            <div class="bg-danger bg-gradient p-4">داشبورد</div>
        </div>
        <div class="col-4 p-3">
            <div class="bg-warning bg-gradient p-4">
                پیام ها
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="bg-info bg-gradient p-4">
                نتایج
            </div>
        </div>
    </div>

</div>
