@page "/profile"
@using Client_Service_GEN.Models
@using Client_Service_GEN.Pages.Components
@using Client_Service_GEN.Repositories

@inject IUserRepository userService;

@if (DataList.Data == null)
{
    <div class="alert alert-primary border-danger p-2 my-4 rounded">در حال بارگذاری اطلاعات</div>
}
else
{
    <div class="container d-flex flex-row flex-wrap justify-content-around">
        @foreach (var item in DataList.Data)
        {
            <UserInfo model="@item" />
        }
    </div>
}
<Modal @ref="modal" Title="عنوان" Content="اطلاعات وارد شده جهت نمایش" />

<button class="btn btn-primary shadow rounded" @onclick="() => modal.Open()">نمایش</button>

@code {
    ResultModel<List<UserModel>> DataList = new ResultModel<List<UserModel>>();
    protected override void OnInitialized()
    {
        DataList = userService.GetAllUsers();
        base.OnInitialized();
    }
    public string Title { get; set; }
    public string Content { get; set; }

    private Modal modal;

    private void OnShowModalClick()
    {
        Title = "عنوان";
        Content = "اطلاعات وارد شده جهت نمایش";
        modal?.Open();
    }

    private void OnHideModalClick()
    {
        modal?.Close();
    }
}
