@page
@model SSO.Pages.Identity.NotAccessPageModel
@{
}

<div class="container text-center">
    <div class="row">
        <div class="alert alert-danger border-danger">
            <div class="display-4 my-3">شما به این صفحه دسترسی ندارید</div>
            <div class="my-2">لطفا با تیم پشتیبانی تماس حاصل فرمایید</div>
            <div class="bg-dark bg-gradient text-center rounded mt-5 shadow p-2 m-1">
                <a class="btn btn-primary shadow-100 rounded ">بازگشت به صفحه اصلی</a>
                <a class="btn btn-info shadow-100 rounded " >بازگشت به قبلی</a>
            </div>
        </div>
    </div>
</div>