@page
@model SSO.Pages.Identity.ConfirmAccountModel
@{
}

<div style="height:70vh;" class="mt-5 container d-flex flex-column justify-content-around p-3 m-1 rounded-3 shadow text-center">
    <div class="alert alert-success border-success shadow p-5 display-6 m-5">خوش آمدید</div>
    <div class="shadow alert alert-primary border-primary m-5">حساب کاربری شما با موفقیت تایید شده است</div>
</div>