@page
@model SSO.Pages.Identity.DisplayEmailModel
@{
}

<div style="height:70vh;" class="mt-5 container d-flex flex-column justify-content-around align-items-center p-3 m-1 rounded-3 shadow text-center">
    <div class="alert alert-success border-success shadow p-5">ثبت نام شما با موفقیت انجام شده است</div>
    <div class="shadow alert alert-danger border-danger">برای تایید حساب خود وارد ایمیل خود شوید و روی لینک ارسال شده کلیک کنید</div>
</div>