@page
@model SSO.Models.DTOs.LoginDTO
@{
}
<div class="container">
    <div class="row">
        <div class="col-6">Col-1</div>
        <div class="col-6">Col-2</div>
    </div>
    <div class="row">
        <div class="col-6">Col-1</div>
        <div class="col-6">Col-2</div>
    </div>
</div>