@page
@model SSO.Pages.Identity.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var Title = "صفحه ورود یکپارچه";
    ViewData["Title"] = Title;
    var url = ViewData["Ref"];
}

<hr />
<div class="container align-items-center pb-5">
    <div class="alert alert-success border-dark text-center display-6 shadow rounded-5">به سامانه ورود یکپارچه خوش آمدید</div>
    <div class="row d-flex flex-row justify-content-center mt-5">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xs-6 bg-light bg-gradient shadow p-5 rounded-3 ">
            <div class="alert alert-success border-success text-center">@Title</div>
            @if (ViewData["Errors"] != null)
            {
                <div class="alert alert-danger border-dark">@ViewData["Errors"]</div>
            }
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="LoginDTO.ReturnUrl" type="hidden" value="@url" />
                <div class="form-group">
                    <label asp-for="LoginDTO.UserName" class="form-label">نام کاربری</label>
                    <input asp-for="LoginDTO.UserName" class="form-control" />
                    <span asp-validation-for="LoginDTO.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoginDTO.Password" class="form-label">رمز کاربری</label>
                    <input asp-for="LoginDTO.Password" class="form-control" />
                    <span asp-validation-for="LoginDTO.Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check p-2">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row">
                            <input class="form-check-input mx-1" asp-for="LoginDTO.IsPersistance" />
                            <text class="mx-4">مرا به خاطر بسپار!</text>
                        </div>
                        <div>
                            <a asp-page="./ForgotPassword">رمز خود را فراموش کردم ...!</a>
                        </div>
                    </div>
                </div>
                <div class="form-group p-2 text-center mt-3">
                    <input type="submit" value="ورود یکپارچه"
                           class="btn btn-primary w-50 shadow" />
                </div>
                <div class="form-group p-2 text-center">
                    <a class="btn btn-success w-50 shadow" asp-page="./SignUp">ثبت نام</a>
                </div>
            </form>
        </div>
    </div>
</div>
@*
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@