@inherits LayoutComponentBase

<PageTitle>Blazor_WebApi</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-primary mx-1 rounded" href="/profile" target="_blank">پروفایل</a>
            <button class="btn btn-dark bg-gradient mx-1 rounded-3">کاربر جاری</button>
            <button class="btn btn-info mx-1 rounded">اعلان</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
