<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid text-center">
        <a class="navbar-brand w-100 fs-4" href="">مدیریت سیستم</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span class="fs-5">داشبورد</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="request">
                <span class="oi oi-plus" aria-hidden="true"></span>
                <span class="fs-5">درخواست جدید</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="information">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                <span class="fs-5">اطلاعات</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
