@model SSO.Models.DTOs.SignUpDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_CardLayout.cshtml";
}

<h1>Index</h1>

<h4>SignUpDTO</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-8">

            @if (TempData["Errors"] != null)
            {
                <div class="alert alert-danger shadow rounded-3">
                    <text>@TempData["Errors"]</text>
                </div>
            }
            <form asp-action="SignUp" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">نام</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Family" class="control-label">فامیلی</label>
                    <input asp-for="Family" class="form-control" />
                    <span asp-validation-for="Family" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">نام کاربری</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">ایمیل</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">رمز کاربری</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">تکرار رمز</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input 
                        type="submit"
                        value="ذخیره اطلاعات"
                        class="btn btn-primary mt-2 w-50 shadow" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-controller="SignUp" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
